*.VC.db
*.bin
*.dcu
*.ddp
*.dll
*.dylib
*.exe
*.local.*
*.o
*.old
*.opendb
*.opensdf
*.sdf
*.so
*.suo
*.user
*.~*
*__pycache__*
*_old_*
/DynamicAudioNormalizerGUI/tmp
/DynamicAudioNormalizerJNI/.settings
/DynamicAudioNormalizerJNI/bin
/DynamicAudioNormalizerJNI/out
/DynamicAudioNormalizerNET/samples/bin
/DynamicAudioNormalizerNET/samples/obj
/bin
/doc
/etc/vst_sdk/pluginterfaces
/etc/vst_sdk/public.sdk
/ipch
/obj
/out
/tmp
