*.opensdf
*.sdf
*.suo
*.user
*.local.*
/bin
/doc
/DynamicAudioNormalizerGUI/tmp
/etc/vst_sdk/pluginterfaces
/etc/vst_sdk/public.sdk
/ipch
/obj
/out
/tmp
/DynamicAudioNormalizerJNI/.settings
/DynamicAudioNormalizerJNI/bin
