*.VC.db
*.dcu
*.ddp
*.dll
*.exe
*.local.*
*.opendb
*.opensdf
*.sdf
*.suo
*.user
*.~*
/DynamicAudioNormalizerGUI/tmp
/DynamicAudioNormalizerJNI/.settings
/DynamicAudioNormalizerJNI/bin
/DynamicAudioNormalizerJNI/out
/DynamicAudioNormalizerNET/examples/bin
/DynamicAudioNormalizerNET/examples/obj
/bin
/doc
/etc/vst_sdk/pluginterfaces
/etc/vst_sdk/public.sdk
/ipch
/obj
/out
/tmp
